*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white !important;
}

a{
    text-decoration: none;
}