.bg_grass {
    background-color: rgb(6, 121, 6);
}

.bg_fire {
    background-color: rgba(245, 68, 14);
}

.bg_water {
    background-color: rgba(5, 85, 233);
}

.bg_bug {
    background-color: rgba(102, 6, 6);
}