*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    color: white !important;
}

body:has(dialog[open]){
    overflow: hidden;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}